<?xml version="1.0"?>
<launch>
  <arg name="queries_root" default="$(find final_project)"/>
  <arg name="target_name" default="bookshelf"/>
  <arg name="vision_topic" default="head_front_camera/rgb/image_raw"/>
  <arg name="percept_use_ground_truth" default="false"/>
  <arg name="use_direct_perception" default="false"/>

  <!-- Ontology backend -->
  <param name="initial_package" type="string" value="final_project" />
  <rosparam file="$(find final_project)/config/loadKnowledge.yaml" command="load"/>
  <node name="rosprolog" pkg="rosprolog" type="rosprolog_node" output="screen"/>

  <!-- Reasoning and knowledge handling -->
  <node name="reasoning_node"
        pkg="final_project"
        type="reasoning_node"
        output="screen"
        args="$(arg queries_root)"/>

  <node name="knowledge_node"
        pkg="final_project"
        type="knowledge_node"
        output="screen"
        args="$(arg queries_root)"/>

  <!-- Perception stack -->
  <node name="direct_percept_node"
        pkg="final_project"
        type="direct_percept_node"
        output="screen"
        if="$(arg use_direct_perception)"/>
  <node name="percept_node" pkg="final_project" type="percept_node" output="screen">
    <param name="use_ground_truth" value="$(arg percept_use_ground_truth)"/>
  </node>
  <node name="learning_node" pkg="final_project" type="learning_node" output="screen">
    <param name="vision/image_topic" value="$(arg vision_topic)"/>
  </node>

  <!-- Control -->
  <node name="tiago_control_node"
        pkg="final_project"
        type="tiago_control_node"
        output="screen">
    <param name="target_name" value="$(arg target_name)"/>
    <param name="cmd_vel_topic" value="/mobile_base_controller/cmd_vel"/>
  </node>
</launch>
